@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700");

$basic_roundness: 7px;
$primary_accent_color: #00695c;
$secondary_accent_color: #00897b;

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.italic {
  font-style: italic;
}

.font-normal {
  font-weight: 500;
}

button, button:focus {
  outline: none;
}

.btn {
  background-color: $secondary_accent_color;
  font-size: .9em;
  color: white;
  padding: .3em .7em;
  margin: .2em;
  border: 0;
  cursor: pointer;
  border-radius: $basic_roundness;
  opacity: .9;
  transition: 300ms ease-in-out;
}

.btn:hover {
  opacity: 1;
}

.task-status {
  font-weight: 600;
}

a:link {
    color: black;
    opacity: .8;
    transition: .3s;
  }

  a:visited {
    color: black;
  }

  a:link:hover {
    opacity: 1;
  }

h2 {

  a:link {
    letter-spacing: 2px;
  }
}

.task-status:before {
  content: " ";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("upload.svg");
  fill: $primary_accent_color;
  vertical-align: middle;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.status-queued {
  color: grey;
}

.animate.status-queued:before {
  animation: 2s blinking infinite linear;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

.status-pending {
  color: #1073d1;
}

.status-pending:before {
  background-image: url("loading.png");
}

.animate.status-pending:before {
  animation: 2s pendingAnimation infinite linear;
}

@keyframes pendingAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.status-finished {
  color: $primary_accent_color;
}

.status-finished:before {
  background-image: url("done.png");
}

.animate.status-finished:before {
  animation: 1s jumping linear;
}

@keyframes jumping {
  0% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(1px);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

table.table-block {
  width: 100%;
}

.nav-wrapper {
  background-color: $primary_accent_color;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: white !important;
    text-decoration: none !important;
  }
}

.logo {
  display: inline-block;
  font-weight: 600;
  font-size: 2em;
  padding: .5em .3em;
}

.main-wrapper {
  margin-top: 2em;
}

.fake-frame {
  width: 100%;
  height: 500px;
  transition: .3s;
  border-radius: $basic_roundness;
}

.fake-frame:hover {
  background-color: #ddd;
}

.shadow {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: $basic_roundness;
}

.nav-menu-outer {
  background-color: $secondary_accent_color;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
}

.nav-item {
  margin: .1em .3em;
}

.splitter-space {
  flex: 1;
}

.nav-link {
  display: inline-block;
  padding: .5em;
  border-radius: $basic_roundness;
  transition: .1s;
}

.nav-link:hover {
  background-color: rgba(white, .2);
}

.container {
  flex: none;
  box-sizing: border-box;
  width: 1180px;
}

@media (min-width: 901px) and (max-width: 1200px) {
  .container {
    width: 880px;
  }
}

@media (max-width: 900px) {

  .main-wrapper {
    width: 100%;
  }
  .container {
    width: 100%;
  }

  .nav {
    display: block;

    .nav-link {
      width: 100%;
      box-sizing: border-box;
    }
  }

}


.panel {
  padding: .5em 1em;
  border-radius: $basic_roundness;
}

.analytics-info {

  display: flex;
  align-items: center;
  color: white;
  padding: .3em;

  span {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
  }
}

.icon-chart {
  background-image: url("chart.png");
}

.icon-user {
  background-image: url("user.png");
}

.icon-keyboard {
  background-image: url("keyboard.png");
}

.icon-rna {
  background-image: url("rna_icon.png");
}

.icon-file {
  background-image: url("file.png");
}

.icon-shuffle {
  background-image: url("shuffle.png");
}

.icon-db {
  background-image: url("database.png");
}

.icon-inverted {
  filter: invert(1);
}

.section-header {
  font-size: 1.5em;
  font-weight: 700;
  color: $primary_accent_color;
  margin: .5em 0;
}

table {

  border-spacing: 0;
  margin: .5em 0;

  tr {
    th {
      font-weight: 500;
      text-align: left;
      padding: .5em;
      border: 1px solid #ddd;
    }
  }
}

h5 {
  font-size: 1em;
  margin: .5em 0;
}

.input-group-flex {
  display: flex;
  flex-wrap: wrap;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked),
.home-input {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}

.checkbox-option + label {
  position: relative;
  padding: .5em 1em;
  width: 110px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 1px;
  margin: 0 5px 10px;
  text-align: center;
  border-radius: $basic_roundness;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-input + label {
  border: 2px grey dashed;
  position: relative;
  padding: 2em 1em;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  border-radius: $basic_roundness;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.checkbox-option:not(:checked) + label {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.checkbox-option:checked + label {
  background-color: $secondary_accent_color;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-option:not(:checked) + label:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-option + label span {
  height: 24px;
  width: 24px;
  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat;
  display: block;
  padding-bottom: 10px;
  transition: 300ms linear;
}

.checkbox-option:checked + label span {
  filter: invert(1);
}

textarea.block {
  width: 100%;
  min-height: 300px;
}

.home-textarea {
  background-color: white;
  border-radius: $basic_roundness;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  min-height: 250px;
  padding: .4em;
  font-family: "Open Sans", sans-serif;
}

form {

  button {
    background-color: $secondary_accent_color;
    font-size: 1em;
    color: white;
    letter-spacing: 1px;
    width: 100%;
    padding: 1em 0;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: $basic_roundness;
    opacity: .9;
    transition: 300ms ease-in-out;
  }

  button:hover {
    opacity: 1;
  }
}


.drop-region {
  position: relative;
  background-color: #fff;
  border-radius: $basic_roundness;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
  font-weight: 600;
  opacity: .7;
  border: 2px dashed grey;
}

.drop-region:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.drop-region:hover {
  opacity: 1;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
}

.drop-list {
  text-align: left;

  div:before {
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    background-image: url(file.png);
    vertical-align: sub;
    margin-right: 3px;
  }
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  flex-wrap: wrap;

  .footer-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: .4em;

    .footer-item-icon {
      width: 45px;
      height: 45px;
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0 1em;
    }

    .icon-ibch {
      background-image: url("ibch.png");
    }

    .icon-put {
      background-image: url("put.png");
    }

    .footer-item-text {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      a {
        font-size: .9em;
        display: inline-block;
        margin: .2em;
      }

    }

  }
}


