<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600"/>
    <script src="{{ url_for('static', filename='actions.js') }}?v={{ media_version }}"
            type="application/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v={{ media_version }}" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>

    {% block script_include %}
    {% endblock %}

    <title>{% block title %}RNAspider{% endblock %}</title>


</head>

<body>

<div class="nav-wrapper">
    <div class="container">
        <a href="{{ url_for("home_page") }}" class="logo">RNAspider</a>
    </div>
    <div class="nav-menu-outer">
        <div id="mySidenav" class="nav container">

            <div class="nav-item">
                <a class="nav-link" href="{{ url_for("home_page") }}">Home</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="{{ url_for("about_page") }}">About</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="{{ url_for("help_page") }}">Help</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="{{ url_for("cite_us_page") }}">Cite us</a>
            </div>

            <div class="splitter-space"></div>

            <div class="analytics-info">
                <span class="icon-user   icon-inverted"></span>
                3 online, 10784750 overall
            </div>

        </div>
    </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="notification-wrapper">
                <div class="notification-div notification-{{ category }}" id="notification-div">
                    <div class="notification-content">
                        {{ message }}
                    </div>
                    <div class="notification-timer">

                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="nav-icon" id="nav-toogler" onclick="hideCloseNav(this)">
    <div></div>
</div>

<div class="main-wrapper">

    <div class="container panel shadow" id="container">
        {% block content %}

        {% endblock %}
    </div>

</div>

<div class="footer">
    <div class="footer-item">
        <span class="footer-item-icon icon-put"></span>
        <span class="footer-item-text"><a href="http://www2.cs.put.poznan.pl/en/">Institute of Computing Science</a>, <a href="http://www.put.edu.pl/">Poznan University of Technology</a></span>
    </div>
    <div class="footer-item">
        <span class="footer-item-icon icon-ibch"></span>
        <span class="footer-item-text"><a href="http://www.ibch.poznan.pl/en/home/">Institute of Bioorganic Chemistry</a>, <a href="https://institution.pan.pl/">Polish Academy of Sciences</a></span>
    </div>
</div>


</body>
</html>