{% extends "base.html" %}

{% block content %}

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos doloribus facere facilis rem.
    Culpa, minus perspiciatis praesentium provident quam quibusdam quos voluptatum. Aliquid blanditiis,
    consequatur dignissimos ipsa molestiae necessitatibus!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque cupiditate dolorem ducimus, eveniet itaque
    laborum magnam modi molestias non nulla quaerat quisquam, repudiandae, voluptate. Cum necessitatibus odio
    odit! Nesciunt, ullam!
    <hr>
    <h3>Workflow</h3>

    <form>
        <div class="input-group">
            <h4>Enter your <span class="italic">.pdb</span> file</h4>
            <div class="input-group-flex">
                <input id="source-file" class="checkbox-option" type="radio" name="source" value="file" checked>
                <label for="source-file">
                    <span class="icon-file"></span>
                    Local file
                </label>
                <input id="source-bank" class="checkbox-option" type="radio" name="source" value="bank">
                <label for="source-bank">
                    <span class="icon-db"></span>
                    PDB bank ID
                </label>
            </div>
        </div>

        <div class="drop-region">
            <div class="drop-message">
                Drag & Drop <span class="italic">.pdb</span> files or click to upload
            </div>
            <div class="drop-list">

            </div>
            <input type="file" name="data-file" hidden multiple>
            {#            <input type="file" hidden accept=".pdb">#}

        </div>

        <div class="input-group">
            <h4>2D models</h4>
            <div class="input-group-flex">
                <input id="2d-rnapdbee" class="checkbox-option" type="radio" name="2d" value="rnapdbee" checked>
                <label for="2d-rnapdbee">
                    <span class="icon-rna"></span>
                    Auto
                </label>
                <input id="2d-input" class="checkbox-option" type="radio" name="2d" value="input">
                <label for="2d-input">
                    <span class="icon-keyboard"></span>
                    Manually
                </label>
            </div>
        </div>
        <div class="input-group shadow">

            <div class="drop-region">
                <div class="drop-message">
                    Drag & Drop files or click to upload
                </div>
                <div class="drop-list">

                </div>
                <input type="file" name="data-file" hidden multiple>
                {#            <input type="file" hidden accept=".pdb">#}

            </div>
            <textarea id="home-textarea" class="home-textarea" placeholder="Or enter data manually..."></textarea>

        </div>
        <button type="submit">Send</button>
    </form>



{% endblock %}